/* About Component Styles*/

.languages {
  text-decoration: none;
  color: white;
}

.languages:hover {
  color: #ffc107;
  transform: scale(1.2);
}

@media screen and (max-width: 900px) {
  .container {
    padding-top: 15vw;
  }
}

@media screen and (max-width: 550px) {
  .container {
    padding-top: 15vh;
  }
}

@media screen and (min-width: 900px) {
  .container {
    padding-top: 12vh;
  }
}

/* Navigation Styles */
.link {
  text-decoration: none;
}

.active {
  color: #ffc107;
}

.linkcolor {
  color: #0004ff;
}

.linkhover:hover {
  color: #ffc107;
}

/* Projects Component Styles */
.backgroundBorder {
  border-radius: 15px;
}

.backgroundColorBlog {
  background-color: rgba(41, 93, 214, 0.5);
}

.backgroundColorPortfolio {
  background-color: rgba(68, 171, 240, 0.5);
}

.backgroundColorAsbillt {
  background-color: rgba(68, 234, 240, 0.5);
}

.backgroundColorTea {
  background-color: rgba(68, 240, 183, 0.5);
}

.backgroundColorFlipper {
  background-color: rgba(68, 240, 105, 0.5);
}

.height {
  height: 100%;
}
